<% layout('layouts/boilerplate')%>

<div class="row">
    <h1 class="text-center">Update House</h1>
    <div class="col-sm-6 offset-sm-3">
        <form action="/houses/<%= house._id %>?_method=PUT" method="POST" novalidate class="need-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="name">House Owner Name</label>
                <input class="form-control" type="text" id="name" name="house[name]" value="<%= house.name%>" required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="address">Address</label>
                <textarea class="form-control" type="text" id="address" name="house[address]" required><%= house.address %></textarea>
            </div>
            
            <div class="mb-3">
                <label class="form-label" for="rent">Rent per month</label>
                <div class="input-group">
                    <span class="input-group-text" id="rent-label">&#8377;</span>
                    <input type="number" step="any" min="0" class="form-control" id="rent" placeholder="0.00" aria-label="rent" aria-describedby="rent-label" name="house[rent]" value="<%= house.rent%>" required>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="house[description]" rows="3"> <%= house.description %> </textarea>
            </div>

            <div class="mb-3">
                <div class="form-file custom-file">
                    <input type="file" class="form-file-input" id="image" name="image" multiple>
                    <label class="form-file-label" for="image">
                        <span class="form-file-text custom-file-label">Add more image(s)...</span>
                        <span class="form-file-button">Browse</span>
                    </label>
                </div>
            </div>

            <div class="mb-3 d-flex flex-wrap justify-content-between">
                <% house.images.forEach(function(img, i) {  %>
                <div class="d-flex flex-column m-3">
                    <div class="img-container">
                        <img src="<%=img.thumbnail %>" class="img-thumbnail img-fit" alt="">
                    </div>
                    <div class="mx-auto">
                        <div class="form-check-inline">
                            <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                        </div>
                        <label for="image-<%=i%>">Delete?</label>
                    </div>
                </div>
                <% })%>
            </div>

            <div class="mb-3">
                <button class="btn btn-success w-100">Update</button>
            </div>
        </form>
        <a href="/houses/<%= house._id %> ">Go Back</a>
    </div>
</div>

