<% layout('layouts/boilerplate')%>

<div class="row">
    <h1 class="text-center">Update House</h1>
    <div class="col-6 offset-3">
        <form action="/houses/<%= house._id %>?_method=PUT" method="POST" novalidate class="need-validation">
            <div class="mb-3">
                <label class="form-label" for="name">House Owner Name</label>
                <input class="form-control" type="text" id="name" name="house[name]" value="<%= house.name%>" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="address">Address</label>
                <textarea class="form-control" type="text" id="address" name="house[address]" required><%= house.address %></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="house[image]" value="<%= house.image%>">
            </div>
            <div class="mb-3">
                <label class="form-label" for="rent">Rent per month</label>
                <div class="input-group">
                    <span class="input-group-text" id="rent-label">$</span>
                    <input type="number" step="any" min="0" class="form-control" id="rent" placeholder="0.00" aria-label="rent" aria-describedby="rent-label" name="house[rent]" value="<%= house.rent%>" required>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="house[description]" > <%= house.description %> </textarea>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Update House</button>
            </div>
        </form>
        <a href="/houses/<%= house._id %> ">Back to house</a>
    </div>
</div>