<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/star.css">
<div class="row">
    <div class="col-md-6" id="firstDiv">

        <div id="houseCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <% house.images.forEach((img, i) => {  %>
                <div class="carousel-item <%= i === 0 ? 'active' : ''%>">
                    <img src="<%= img.url%>" class="d-block img-fit" alt="">
                </div>
                <% }) %>
                <% if(house.images.length == 0){ %>
                    <div class="carousel-item active">
                        <img src="/images/noHouseImg.png" class="d-block img-fit" alt="">
                    </div>  
                <% } %>  
            </div>

            <% if(house.images.length > 1) {%>
            <a class="carousel-control-prev" href="#houseCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#houseCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <% } %>
        </div>

        <div class="card mb-3" id="houseCard">
            <div class="card-body">
                <h5 class="card-title">House Owner's Name: <%= house.name%></h5>
                <p class="card-text"><%= house.description%></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted">Rent per month: &#8377;<%= house.rent%></li>
                <li class="list-group-item">Address: <%= house.address%></li>
            </ul>
            <% if(currentUser && house.owner.equals(currentUser._id)){ %> 
                <div class="card-body d-flex justify-content-between">
                    <a class="card-link btn btn-info" href="/houses/<%=house._id%>/edit">✎ Edit</a>
                    <form class="d-inline" action="/houses/<%=house._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">&#128465; Delete</button>
                    </form>
                </div>
            <% } %> 
        </div>

        <div id='map' class="mb-4 shadow"></div>

    </div>
    <div class="col-md-6">

        <% if(currentUser){ %> 
            <!-- <h2 class="mb-3">Leave a Review</h2> -->
            <form action="/houses/<%= house._id %>/reviews" method="POST" novalidate class="need-validation mb-5 shadow p-3">
                <fieldset class="starability-basic">
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="5" checked
                        aria-label="No rating." />
                </fieldset>
                <div class="mb-3">
                    <textarea class="form-control" type="text" id="description" name="review[description]" cols="30" rows="3" required placeholder="Write your review here"></textarea>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success w-100">Submit</button>
                </div>
            </form>
        <% } %> 
        <div class="review-container mb-5"  id="reviewContainer">
            <% for(let review of house.reviews){ %>
                <div class="card m-3">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">By <%= review.owner.username%></h6>
                        <p class="starability-result float-sm-right" data-rating="<%= review.rating %>"></p>
                        <p class="card-text"><%= review.description %></p>
                        <% if(currentUser && review.owner.equals(currentUser._id)){ %> 
                            <form action="/houses/<%=house._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                                <button class="btn btn-sm btn-danger">&#128465; Delete</button>
                            </form>
                        <% } %> 
                    </div>
                </div>
            <% } %>  
        </div>
    </div>
</div>

<script>
    const houseCard = document.getElementById("houseCard");
    console.log(houseCard);
    document.getElementById("reviewContainer").style.maxHeight = houseCard.clientHeight +380 +"px";
</script>

<script>
    const house = <%-JSON.stringify(house)%>;
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
</script>

<script src="/javascripts/showPageMap.js"></script>